{{> header}}

<h1>{{title}}</h1>
<h2>API Documentation</h2>
<h3>API : http://localhost:8080</h3>

<table>
    <tr>
        <td>GET</td>
        <td>  </td>
        <td>/api/customer</td>
    </tr>
    <tr>
        <td>GET</td>
        <td>  </td>
        <td>/api/customer/{id}</td>
    </tr>
    <tr>
        <td>POST</td>
        <td>  </td>
        <td>/api/customer</td>
    </tr>
    <tr>
        <td>PUT</td>
        <td>  </td>
        <td>/api/customer/{id}</td>
    </tr>
    <tr>
        <td>DELETE</td>
        <td>  </td>
        <td>/api/customer/{id}</td>
    </tr>
</table>

{{> footer}}